html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    justify-content: left;
    display: flex;
    font-size: 3rem;
    padding-top: 25px;
    padding-left: 50px;
}

.navbar * {
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-container {
    padding: 35px;
    flex: 1; /* aallow to grow */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.introduction-text {
    font-size: 3rem;
}