.title {
    justify-content: left;
    display: flex;
    font-size: 3rem;
    padding-top: 25px;
    padding-left: 50px;
}

.navbar * {
    justify-content: center;
    align-items: center;
    display: flex;
}

.main-container {
    padding: 35px;
}